.header {
    background-color: rgb(28, 82, 182);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 6px;
}

.submit-search {
    border: none;
    background-color: white;
    border-right: 1px solid rgb(182, 182, 182);
    padding: 6px;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}

.search-logo {
    height: 24px;
    padding: 2px;
}

.search-input {
    width: 20vw;
    max-width: 400px;
    min-width: 100px;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
    border: none;
}

.search-input:focus {
    outline: none;
}

.logo {
    height: 50px;
    padding: 8px;
    border-radius: 6px;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: white;
}

.links {
    color: white;
    font-size: 1.25rem;
    padding: 8px;
    border-radius: 4px;
}

.search-submit:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.logo:hover,
.links:hover {
    cursor: pointer;
    background-color: rgb(38, 94, 197);
}