.header {
    background-color: rgb(202, 63, 28);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 18px;
    box-shadow: rgba(202, 63, 28, 0.35) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    z-index: 10;
    position: relative;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 18px;
}

.search {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 6px;
}

.submit-search {
    border: none;
    background-color: white;
    border-right: 1px solid rgb(182, 182, 182);
    padding: 6px;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}

.search-logo {
    height: 24px;
    padding: 2px;
}

.search-input {
    width: 25vw;
    max-width: 400px;
    min-width: 100px;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
    border: none;
}

.search-input:focus {
    outline: none;
}

.logo {
    height: 50px;
    padding: 8px;
    border-radius: 6px;
}

.links {
    color: white;
    font-size: 1.25rem;
    padding: 6px;
    border-radius: 4px;
}

.search-submit:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.logo:hover,
.links:hover {
    cursor: pointer;
    background-color: rgb(218, 76, 41);
}

.settings {
    width: 24px;
    padding: 5px 3px 0;
    filter: invert(100%);
}