.login-title {
    color: rgb(44, 44, 44);
    text-align: center;
    margin: 18px auto 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 40%;
    margin: auto;
}

.input {
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(238, 238, 238);
    padding: 8px;
    font-size: 18px;
}

.signup-link,
.signup-link:visited {
    text-decoration: none;
    color: blue;
}