.login-title {
    color: rgb(170, 170, 170);
    text-align: center;
    margin: 28px auto 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 40%;
    margin: auto;
}

.input {
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(238, 238, 238);
    padding: 8px;
    font-size: 18px;
}

.question {
    color: rgb(221, 221, 221);
}

.signup-link,
.signup-link:visited {
    text-decoration: none;
    color: rgb(89, 89, 232);
}

.error-message {
    color: red;
    font-size: 16px;
}