.logout-message {
    text-align: center;
    margin: 50px 12px;
    font-size: 24px;
}

.logout-form {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px 12px;
}

.logout-button {
    border: none;
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 10px 14px;
    font-weight: bold;
}

.logout-button:hover {
    cursor: pointer;
    background-color: rgb(196, 62, 28);
}

.logout-link,
.logout-link:visited {
    color: white;
    text-decoration: none;
}