.new-post {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 80%;
    margin: 0 auto;
}

.new-post-title {
    color: white;
    text-align: center;
    margin: 18px auto 30px;
}

.new-post-input {
    resize: none;
    border: none;
    background-color: rgb(226, 226, 226);
    padding: 8px;
    font-size: 16px;
}

.wrapper {
    display: flex;
    gap: 24px;
}

.no-underline,
.no-underline-visited {
    text-decoration: none;
    color: white;
}

.submit-new-post {
    border: none;
    background-color: rgb(218, 76, 41);
    color: white;
    padding: 10px;
}

.submit-new-post:hover {
    cursor: pointer;
    background-color: rgb(196, 62, 28);
}