.new-post {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 80%;
    margin: 0 auto;
}

.new-post-title {
    color: rgb(44, 44, 44);
    text-align: center;
    margin: 18px auto 30px;
}

.input {
    resize: none;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(238, 238, 238);
    padding: 8px;
    font-size: 18px;
}

.wrapper {
    display: flex;
    gap: 24px;
}

.no-underline,
.no-underline-visited {
    text-decoration: none;
    color: white;
}

.submit {
    border: none;
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 10px 14px;
    font-weight: bold;
}

.submit:hover {
    cursor: pointer;
    background-color: rgb(196, 62, 28);
}