.post-complete {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 0 6px inset rgb(35, 35, 35);
    padding: 32px 50px 26px;
}

.post-complete-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-complete-title {
    color: rgb(233, 233, 233);
    font-size: 32px;
}

.post-options-wrapper {
    display: flex;
    align-items: center;
    gap: 28px;
}

.post-options,
.post-options:visited {
    color: rgb(182, 182, 182);
    text-decoration: none;
    cursor: pointer;
}

.post-complete-content {
    color: rgb(233, 233, 233);
    font-size: 20px;
}

.post-complete-date {
    color: rgb(182, 182, 182);
}

.comment-likes-wrapper,
.post-complete-likes-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-complete-likes {
    font-size: 20px;
    color: rgb(233, 233, 233);
}

.post-complete-info-wrapper {
    border-top: 1px solid rgb(90, 90, 90);
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-comment-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 0 6px inset rgb(35, 35, 35);
    justify-content: center;
    padding: 32px 50px;
    margin: 20px 0;
}

.new-comment-form-description {
    color: rgb(233, 233, 233);
}

.new-comment-input {
    resize: none;
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(94, 94, 94);
    border-radius: 2px;
    color: rgb(233, 233, 233);
    padding: 10px;
    font-size: 16px;
}

.new-comment-input:focus {
    outline: none;
}

.new-comment-button {
    width: 100px;
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    background-color: rgb(50, 50, 50);
    box-shadow: 0 0 6px inset rgb(35, 35, 35);
    padding: 32px 40px 26px;
    color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.comment-user {
    color: rgb(182, 182, 182);
    font-size: 16px;
}

.comment-content {
    font-size: 20px;
}

.delete-post-visible {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 0 6px inset rgb(35, 35, 35);
    padding: 32px 40px 26px;
    color: rgb(233, 233, 233);
}

.delete-post-hidden {
    display: none;
}

.delete-post-message {
    font-size: 16px;
}

.delete-word {
    color: rgb(206, 12, 12);
}

.delete-post-button {
    border: none;
    background-color: rgb(196, 62, 28);
    color: white;
    padding: 8px 12px;
    border-radius: 2px;
    font-weight: bold;
}

.delete-post-button:hover {
    cursor: pointer;
    background-color: rgb(165, 48, 19);
}

.comment-bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nothing {
    display: none;
}