.post {
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: 60px 1fr;
    box-shadow: 0 0 6px inset rgb(35, 35, 35);
}

.post-likes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 12px;
}

.like-button {
    height: 40px;
    width: 40px;
    filter: invert(100%);
    cursor: pointer;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.post-title {
    color: rgb(225, 225, 225);
    font-size: 24px;
}

.post-content {
    color: rgb(225, 225, 225);
}

.post-info-wrapper,
.post-info-wrapper:visited {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    border-left: 2px solid rgb(92, 92, 92);
    padding: 0 14px;
}

.post-date {
    color: rgb(225, 225, 225);
}

.post-likes {
    color: rgb(225, 225, 225);
}