.sidebar {
    background-color: rgb(203, 203, 203);
    border: 1px solid rgb(167, 167, 167);
    grid-column: 2;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-title {
    color: rgb(29, 29, 29);
    text-align: center;
    margin: 28px auto 30px;
}

.sidebar-link,
.sidebar-link:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}